/* --- Constants --- */
/* ---  Colour swatch --- */
/* --- Typography --- */
/* --- SCSS mixins --- */
/* --- Base elements --- */
body {
  background: transparent;
  color: white;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1rem;
  width: 100%;
  min-width: 960px; }

header {
  background: #010101;
  border-bottom: 5px white solid; }

footer {
  background: white;
  color: #343434;
  font-size: 0.75rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 9.6875%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.13rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 0.83rem; }

h6 {
  font-size: 0.75rem; }

a {
  color: #999999;
  text-decoration: none;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-out;
  -mos-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }
  a:hover {
    text-decoration: underline;
    opacity: 0.4;
    -webkit-transition: opacity 0.3s ease-out;
    -mos-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out; }

button {
  background: #343434;
  width: 7.25rem;
  height: 3rem;
  box-shadow: none;
  color: white;
  font-weight: 700;
  cursor: pointer;
  border-top: 5px #676767 solid;
  border-left: 5px #676767 solid;
  border-bottom: 5px #010101 solid;
  border-right: 5px #010101 solid;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-out;
  -mos-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }
  button:hover {
    opacity: 0.4;
    -webkit-transition: opacity 0.3s ease-out;
    -mos-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out; }
  button:active {
    padding: 0.8125rem;
    border: none;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-out;
    -mos-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out; }

input:not([type=submit]):not([type=file]):not([type=radio]):not([type=checkbox]) {
  width: 7rem;
  height: 2rem;
  color: #1a1a1a;
  font-size: 1.13rem;
  border: 1px solid #cccccc;
  padding: 1px;
  -moz-box-shadow: inset 1px 3px 1px -3px black;
  -webkit-box-shadow: inset 1px 3px 1px -3px black;
  box-shadow: inset 1px 3px 1px -3px black; }

/* --- Custom styles --- */
.statusSuccess {
  color: #70dc70 !important; }

.statusAlert {
  color: #ec3030 !important; }

.brandContainer {
  background: url("../img/logos/brand.svg");
  width: 16.66667%;
  padding-bottom: 9.16667%;
  margin-left: 7.29167%; }

.appTitleContainer {
  width: 90.3125%;
  background: #343434;
  padding-top: 1.84544%;
  padding-bottom: 1.84544%;
  padding-left: 9.6875%; }

.inputContainer {
  background: #6a94c2;
  padding-top: 2rem;
  padding-bottom: 0.5rem; }

.inputRow {
  margin-bottom: 1.5rem; }

.inputRowLabel {
  display: inline-block;
  width: 29.47917%;
  font-size: 1.13rem;
  font-weight: 700;
  text-align: right;
  margin-right: 0.5rem; }

.inputRadioButtonOption {
  display: inline-block;
  width: 3rem;
  text-align: center; }

.iconInformation, .iconSuccess, .iconAlert {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-size: 100%; }

.iconInformation {
  background: transparent url("../img/icons/information.svg") no-repeat center; }

.iconSuccess {
  background: transparent url("../img/icons/success.svg") no-repeat center; }

.iconAlert {
  background: transparent url("../img/icons/alert.svg") no-repeat center; }

.informationLabel {
  color: #e6e6e6;
  font-style: italic;
  margin-left: 1rem; }

.inputButton {
  margin-left: 30.41667%;
  margin-bottom: 1.5rem; }

.hideSection {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 1.5s ease-out;
  -mos-transition: all 1.5s ease-out;
  -ms-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out; }

.showSection {
  max-height: 999px;
  -webkit-transition: all 1.5s ease-out;
  -mos-transition: all 1.5s ease-out;
  -ms-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out; }

.resultsTitleContainer {
  width: 90.3125%;
  background: transparent url("../img/icons/div_results_title.svg") no-repeat center;
  background-size: 100%;
  padding-top: 1.66667%;
  padding-bottom: 1.66667%;
  padding-left: 9.6875%; }

.resultsContainer {
  background: #295e9a;
  padding-top: 2rem;
  padding-bottom: 0.5rem; }

.resultsRow {
  margin-bottom: 1.5rem; }

.resultsLabel {
  display: inline-block;
  width: 48.95833%;
  text-align: right; }

.resultsTabulated {
  display: inline-block;
  color: #ffcd81;
  text-align: left; }

.footerIconicLink {
  font-weight: 700; }

.footerContact {
  margin-top: 0.5rem; }

.emailIcon {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  background: transparent url("../img/icons/mail.svg") no-repeat left bottom;
  background-size: 100%; }

.phoneIcon {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  background: transparent url("../img/icons/phone.svg") no-repeat center center;
  background-size: contain; }
