/* --- Constants --- */
/* ---  Colour swatch --- */
/* --- Typography --- */
/* --- SCSS mixins --- */
/* --- Base elements --- */
body {
  background: transparent;
  color: white;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1rem;
  width: 100%;
  min-width: 960px; }

header {
  background: #010101;
  border-bottom: 5px white solid; }

footer {
  background: white;
  color: #343434;
  font-size: 0.75rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 9.6875%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.13rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 0.83rem; }

h6 {
  font-size: 0.75rem; }

a {
  color: #999999;
  text-decoration: none;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-out;
  -mos-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }
  a:hover {
    text-decoration: underline;
    opacity: 0.4;
    -webkit-transition: opacity 0.3s ease-out;
    -mos-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out; }

/* --- Custom styles --- */
.brandContainer {
  background: url("../img/logos/brand.svg");
  width: 16.66667%;
  padding-bottom: 9.16667%;
  margin-left: 7.29167%; }

.appTitleContainer {
  width: 90.3125%;
  background: #343434;
  padding-top: 1.84544%;
  padding-bottom: 1.84544%;
  padding-left: 9.6875%; }

.inputContainer {
  background: #6a94c2;
  padding-top: 2rem;
  padding-bottom: 0.5rem; }

.inputRow {
  margin-bottom: 1.5rem; }

.inputRowLabel {
  display: inline-block;
  width: 29.47917%;
  text-align: right;
  margin-right: 0.5rem; }

.inputRadioButtonOption {
  display: inline-block;
  width: 5rem;
  text-align: center; }

.informationIcon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: transparent url("../img/icons/information.svg") no-repeat center;
  background-size: 100%; }

.informationLabel {
  color: #e6e6e6;
  font-style: italic;
  margin-left: 1rem; }

.resultsTitleContainer {
  width: 90.3125%;
  background: #343434 url("../img/icons/div_results_title.svg") no-repeat center;
  background-size: 100%;
  padding-top: 1.66667%;
  padding-bottom: 1.66667%;
  padding-left: 9.6875%; }

.resultsContainer {
  background: #295e9a;
  padding-top: 2rem;
  padding-bottom: 0.5rem; }

.resultsRow {
  margin-bottom: 1.5rem; }

.resultsLabel {
  display: inline-block;
  width: 48.95833%;
  text-align: right; }

.resultsTabulated {
  display: inline-block;
  text-align: left; }
  .resultsTabulated h3 {
    display: inline-block;
    color: #ffcd81; }

.footerIconicLink {
  font-weight: 700; }

.footerContact {
  margin-top: 0.5rem; }

.emailIcon {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  background: transparent url("../img/icons/mail.svg") no-repeat left bottom;
  background-size: 100%; }

.phoneIcon {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  background: transparent url("../img/icons/phone.svg") no-repeat center center;
  background-size: contain; }
